html, body {
	height: 100%;
	color: black;
}
.nav {
	width: 100%;
	background-color: lightgray;
	height: 100px;
	
}

.box {
	display: inline-block;
	width: 75px;
	background-color: lightblue;
	height: 75px;
	margin: 10px 0 0 10px;
	
	
}

.textblock {
	position: relative;
	width: 100%;
	background-color: white;
	height: 275px;
}
 p {
	 position: absolute;
	 margin: 0;
	 color: black;
	 left: 25%;
	 top: 50%;
 }


.rows {
	height: 70px;
	width: 100%;
}

.row1 {
	background-color: blue;
}
	


.row2 {
	background-color: aqua;
}
	


.row3 {
	background-color: green;
}
	


.row4 {
	background-color: yellow;
}
	
